 /*Blinking Cursor*/
.cursor {
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/*Primary color*/
:root {
  --bg-color: #111844;
  --bh-color1: #121358;
  --bh-color2: #232F72;
  --bh-color3: #2F578A;
  --bh-color4: #36ADA3;
  --text-color: #F5F5F5;
  --accent-color: #2F578A;
} 
[data-theme="light"] {
  --bg-color: #F5F5F5;
  --bh-color:#DFF2EB;
  --bh-color: #B9E5E8;
  --bh-color: #7AB2D3;
  --text-color: #4A628A;
  --accent-color: #5DF8D8;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3 ease, color 0.3 ease;
  font-family: Arial, Sans-Serif;
}
button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
